<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Profile</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-content>
            <mat-tab-group>
                <mat-tab label="Personal Info">
                  <app-personal-info *ngIf="user" [user]="user"></app-personal-info>
                </mat-tab>
                <mat-tab label="Account Info">
                  <mat-card-content>
                    <app-account-info></app-account-info>
                  </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
