.container {
  .mat-radio-label {
    padding: 5px;
  }
  .mat-form-field {
    // border: 1px solid black;
    padding: 20px;
  }

  .avatar-container {
    height: 128px;
    margin: auto;
    margin: 20px auto;
    width: 128px;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    img {
      border-radius: 50%;
      width: inherit;
      height: inherit;
    }
  }

  .footer {
    padding: 30px;
  }
}





