.full-chip-list {
  width: 100%;
}

.fab-add-new {
  position: absolute;
  right: 0;
  top: 0;
}

.mat-card-content {
  padding: 10px;

}

.mat-card-content .mat-list-item-content {
  padding: 5px;
}

.mat-list .mat-list-item.mat-2-line {
  height: 36px;
}
