<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="20%" >

        <mat-card>
          <mat-card-content class="p-t-0">
            <h3 mat-subheader>Your Projects
              <span class="fab-add-new"><button mat-mini-fab color="primary"><mat-icon mat-list-icon>add</mat-icon></button></span>
            </h3>
          </mat-card-content>

          <mat-list>
            <mat-card-content class="p-t-0">
              <mat-list-item *ngFor="let project of projects | async">
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>{{project.name}}</h4>
                <p mat-line> {{project.updated | date}} </p>
                <mat-slide-toggle [checked]="project.current" (click)="setCurrentProject(project)"></mat-slide-toggle>
              </mat-list-item>
            </mat-card-content>
          </mat-list>
        </mat-card>
    </div>

    <!-- column -->
    <div fxFlex.gt-sm="80%" >
      <mat-card>
        <mat-card-content>
          <mat-card-title><h3>{{project.title}}</h3></mat-card-title>

          <mat-card-subtitle>
            <mat-form-field class="full-chip-list">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let genre of project.genres" [selectable]="selectable"
                          [removable]="removable" (removed)="removeGenre(genre)">
                  {{genre.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Genres..."
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addGenre($event)" />
              </mat-chip-list>
            </mat-form-field>
          </mat-card-subtitle>

          <mat-card>
              <mat-card-content>
              <mat-card-title>{{project.description}}</mat-card-title>
              <mat-card-subtitle>Expansion panel</mat-card-subtitle>

                  <mat-accordion class="example-headers-align">
                      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                          <mat-expansion-panel-header>
                              <mat-panel-title> Personal data </mat-panel-title>
                              <mat-panel-description> Infos do projeto
                                  <mat-icon>account_circle</mat-icon>
                              </mat-panel-description>
                          </mat-expansion-panel-header>
                          <mat-form-field>
                              <input matInput placeholder="First name"> </mat-form-field>
                          <mat-form-field>
                              <input matInput type="number" min="1" placeholder="Age"> </mat-form-field>
                          <mat-action-row>
                              <button mat-button color="primary" (click)="nextStep()">Next</button>
                          </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                          <mat-expansion-panel-header>
                              <mat-panel-title> Destination </mat-panel-title>
                              <mat-panel-description> Infos dos capítulos
                                  <mat-icon>map</mat-icon>
                              </mat-panel-description>
                          </mat-expansion-panel-header>
                          <mat-form-field>
                              <input matInput placeholder="Country"> </mat-form-field>
                          <mat-action-row>
                              <button mat-button color="warn" (click)="prevStep()">Previous</button>
                              <button mat-button color="primary" (click)="nextStep()">Next</button>
                          </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                          <mat-expansion-panel-header>
                              <mat-panel-title> Day of the trip </mat-panel-title>
                              <mat-panel-description> Estatísticas
                                  <mat-icon>date_range</mat-icon>
                              </mat-panel-description>
                          </mat-expansion-panel-header>
                          <mat-form-field>
                              <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly> </mat-form-field>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-action-row>
                              <button mat-button color="warn" (click)="prevStep()">Previous</button>
                              <button mat-button color="primary" (click)="nextStep()">End</button>
                          </mat-action-row>
                      </mat-expansion-panel>
                  </mat-accordion>
              </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
</div>
