
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div *ngIf="false">
  <a href="#" class=" m-r-20 hidden-sm-up" mat-raised-button color="basic" i18n="@@sign-up">Sign up</a>
  <a href="#" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" i18n="@@sign-in">Sign in</a>
</div>
<button *ngIf="true" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> <span i18n="@@settings">Settings</span>
    </button>
    <button mat-menu-item>
        <a [href]="['#/app/profile']"><mat-icon>account_box</mat-icon> <span i18n="@@profile">Profile</span></a>
    </button>
    <button mat-menu-item (click)="signout()">
        <mat-icon>exit_to_app</mat-icon> <span i18n="@@sign-out">Sign out</span>
    </button>
</mat-menu>

