.nav-menu{
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 13px;

  .nav-menu-item {
    float: left;
    margin: auto;
    width: auto;

    a {
      color: white;
      font-family: Roboto,sans-serif;
      font-size: 1rem;
      font-weight: 300;
      padding: 15px;
    }

    a:hover {
      color: rgb(231, 226, 226);
    }

    button {
      margin-left: 15px;
    }
  }
}

.section-home {
  /* background-color: aquamarine; */
  background-image: url("../../assets/images/background/love-heart-book-1980x900.jpg");
  display: table;
  width: 100%;
  height: 900px;


  .home-content {

    display: table-cell;
    vertical-align: middle;

    .home-card{
      width: 20%;

      img {
        border-radius: 3px;
      }
    }

  }
}

.section-about {
  background-color: azure;
  width: 100%;
  height: 100%;
}

.section-pricing {
  background-color: cadetblue;
  width: 100%;
  height: 100%;
}

.section-contact {
  background-color: burlywood;
  width: 100%;
  height: 100%;
}



