<div class="main-container">
  <!-- ============================================================== -->
  <!-- Simple four boxes Row -->
  <!-- ============================================================== -->
  <mat-grid-list cols="1" class="my-grid-list">
    <mat-grid-tile-header colspan="1" rowspan="1">
      <!-- ============================================================== -->
      <!-- Main wrapper - style you can find in starter.scss -->
      <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Topbar - style you can find in header.scss -->
        <!-- ============================================================== -->
        <mat-toolbar color="accent" class="topbar telative">
            <!-- ============================================================== -->
            <!-- Logo - style you can find in header.scss -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                  <!-- Logo icon -->
                  <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                  </b>
                  <!--End Logo icon -->
                  <!-- Logo text -->
                  <span fxShow="false" fxShow.gt-xs>
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo text -->
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                  </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- menu -->
            <!-- ============================================================== -->
            <ul class="nav-menu">
              <li class="nav-menu-item"><a href="/#home">Home</a></li>
              <li class="nav-menu-item"><a href="/#about">About</a></li>
              <li class="nav-menu-item"><a href="/#pricing">Pricing</a></li>
              <li class="nav-menu-item"><a href="/#contact">Contact</a></li>
              <li class="nav-menu-item"><button mat-raised-button color="basic" (click)="openRegisterForm()">Sign Up</button></li>
              <li class="nav-menu-item"><button mat-raised-button color="primary" (click)="openLoginForm()">Sign In</button></li>
            </ul>
        </mat-toolbar>
    </mat-grid-tile-header>
  </mat-grid-list>

  <section id="home" class="section-home">
    <div class="home-content">
      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>You success is our mission</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/starter-page/writing-320x213.jpg" alt="Man writing">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>


    </div>

  </section>

  <section id="about" class="section-about">

  </section>

  <section id="pricing" class="section-pricing">

  </section>

  <section id="contact" class="section-contact">

  </section>

</div>
