<div>
  <h4>Credencials</h4>
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-raised-button color="basic" type="button">Change Password</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <p>You can request a new password.</p>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-raised-button color="basic" type="button">Change Email</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" style.background="lightblue">
      <p>You can change the email.</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-divider></mat-divider>

<div>
  <h4>Professional Account</h4>
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="1">
        <button mat-raised-button color="basic" type="button">I become professional</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <p>Check out the advantages of the professional plan <a href="#"><strong>here</strong></a>.</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-divider></mat-divider>

<div>
  <h4>Delete Account</h4>
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="1">
        <button mat-raised-button color="warn" type="button">Delete Account</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <p><code>Are you sure you want to delete this account?.</code></p>
      <p>Would you like to tell us the reason for abandonment? <a href="#"><strong>Click here</strong></a>. ಥ_ಥ</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
